<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>About || PDP Fitness</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand text-wrap brand-name" href="../index.html">PDP Fitness</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="base.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="trainers.html" class="nav-link">Trainers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cources.html">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registration.html">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <div class="bg-image">
        <div class="about-fitness">
            <h2 class="">About PDP Fitness</h2>
            <h1>Our goal is to make health and fitness attainable, affordable and approachable.</h1>
        </div>
    </div>
    <div class="creation shadow p-3 mb-5 bg-body-tertiary rounded">
        <h1>Our Story</h1>
        <p class="para-inf-story">PDP Fitness was founded in 2022 as a family owned and operated business specializing
            in
            supplying high-quality gym equipment at great prices.

            Instead of being just another gym equipment retailer, our founders wanted to be the best in the industry and
            set their minds to doing so! PDP Fitness has grown into one of Uzbekistan's
            largest online fitness club, helping thousands of customers live longer, happier and
            healthier lives.</p>
    </div>
    <div class="people shadow p-3 mb-5 bg-body-tertiary rounded">
        <h1>Our People</h1>
        <p class="para-inf-peop">
            <span><b>PDP Fitness has a growing team of 300+ awesome fitness members and we owe our success to each and
                    every one of them!</span></b>
        <p class="para-inf-peop2">
            We have some pretty amazing people working with us, who hustle everyday to give you the best possible
            experience! We're committed to common goals, with effective communication and accountability making our team
            achieve greater results.
        </p>
        </p>
    </div>
    <div class="culture shadow p-3 mb-5 bg-body-tertiary rounded">
        <h1>Our Culture</h1>
        <p class="para-inf-cult">
            We know that building a positive culture is incredibly important. We believe in encouraging, supporting,
            challenging, learning and growing to be the best! Our flexible working solutions, gym rebates and
            educational opportunities create a positive work/life balance for all our gym club members.
            We believe in giving back and offering time, money and products to volunteer services and community
            organizations. We're committed to improving individuals' health, fitness, and well-being by supporting
            global and local charities, local sports teams, and events.
        </p>
    </div>

    <footer class="footer">
        <div class="container">
         <div class="row">
           <div class="footer-col">
             <h4>Quick Links</h4>
             <ul>
               <li><a href="../index.html">Welcome</a></li>
               <li><a href="base.html">Home</a></li>
               <li><a href="">About</a></li>
               <li><a href="trainers.html">Trainers</a></li>
               <li><a href="cources.html">Courses</a></li>
               <li><a href="registration.html">Register</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>Contact Information</h4>
             <ul>
               <li><a href="tel:+998997777777">+99899-777-77-77</a></li>
               <li><a href="tel:+99899-111-11-11">+99899-111-11-11</a></li>
               <li><a href="">pdpgmail.com</a></li>
               <li><a href="">Sergeli, Tashkent, Uzbekistan</a></li>
             </ul>
           </div>
         </div>
        </div>
     </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>