<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/about.css">
    <title>Home || PDP Fitness</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand text-wrap brand-name" href="../index.html">PDP Fitness</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="trainers.html" class="nav-link">Trainers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cources.html">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registration.html">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    
    <div class="image-bg">
        <div class="journey">
            <h1> <i>Start your journey with </i> our exciting <a href="cources.html">offers</a></h1>
            <button onclick='location.href= "cources.html" ' class="btn-gap btn btn-primary btn-lg">Find Out More</button>
        </div>
        <div class="fd-more">
        </div>
    </div>
    <div class="intro-msg shadow p-3 mb-5 bg-body-tertiary rounded card">
        <div class="card-header">
            Motivation
        </div>
        <div class="card-body">
            <blockquote class="blockquote">
                <p>The way you create your goals is so important — if you don't set yourself the right kind of goals at
                    the beginning of your fitness journey, you could be limiting your success before you even get
                    started.</p>
                <footer class="blockquote-footer">Dwayne 'The Rock' Johnson</footer>
            </blockquote>
        </div>
    </div>
    <h2 align="center" style="font-size: 60px; margin-bottom: 4%;">Our trainers</h2>
    <div class="container">
        <div class="floating-dwyn container">
            <h5> <img src="../images/trainers/rock.jpg" alt="The Rock Image" width="25%" height="auto"> Dwayne Douglas
                Johnson (birth
                May 2, 1972, Hayward, USA) is an American film actor, businessman, musician, singer, in the past - a
                wrestler. Known under the pseudonym The Rock. Considered one of the greatest wrestlers of all time. He
                competed in WWE for eight years before starting his acting career. He is a 10-time world champion as
                well as
                a two-time WWF Intercontinental Champion, a five-time Tag Team Champion, the 2000 Royal Rumble winner,
                and a
                sixth Triple Crown champion.
                <h5 style="padding-top: 30px;">Joined to PDP Fitness trainers in December 2022. He's one of our best
                    trainers
                    now, even though he hasn't been around for a long time
                    Dwayne Johnson is really kind with his students and also really approachable</h5>
            </h5>
        </div>
    </div>
    <div class="container">
        <div class="floating-khb">
            <h5>
                <img src="../images/trainers/khabib.jpg" alt="Khabib Image" width="25%" height="auto"> Khabib
                Abdulmanapovich Nurmagomedov (Gaabdulmanapil Khaabib Nurmukhaamadov; born September 20 , 1988 , Sildi ,
                Dagestan ASSR ) is an undefeated Russian mixed martial arts fighter who competed under the auspices of
                the UFC. Former UFC Lightweight Champion. At the professional level, he had 29 fights and did not suffer
                a single defeat. When a personal trainer watches a client squat, it's usually from one angle, focusing
                on one aspect of the movement.
                <h5 style="padding-top: 30px;">
                    Joined to PDP Fitness in August 2022.
                </h5>
            </h5>
        </div>
    </div>
    <div class="container">
        <div class="floating-gogs">
            <h5>
                <img src="../images/trainers/googins.jpg" alt="Goggins Image" width="25%" height="auto"> David Goggins
                (born February 17, 1975) is
                an American ultramarathon runner, ultra-distance cyclist, triathlete, public speaker, and author.
            </h5>
            <h5>In 2008 he was named a <em> "Hero of Running" </em>by Runner's World. In 2016, Goggins won the <b> Infinitus </b>
                88k
                in 12 hours, almost twenty minutes ahead of the next finisher. In the same year, he also won the <b>
                    Music
                    City Ultra 50k, </b> and Strolling Jim 40 Miler. In 2020, Goggins ran the<b> Moab 240
                </b>ultramarathon, placing
                2nd in the 241 mile event with a time of <em> 63 hours and 21 minutes, </em> approximately 95 minutes
                behind race
                winner <b>Michele Graglia </b></h5>
        </div>
    </div>
    <div class="explore container" align="end" style="margin-top: 60px;">
        <p>Explore more in <a href="trainers.html">trainers</a> section</p>
    </div>

    <footer class="footer ">
        <div class="container">
    
            <div class="col">
                <h1>Links</h1>
                <ul>
                    <li>
                        <a href="../index.html">Welcome</a>
                    </li>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="cources.html">Courses</a>
                    </li>
                    <li>
                        <a href="trainers.html">Trainers</a>
                    </li>
                    <li>
                        <a href="registration.html">Log In</a>
                    </li>
                </ul>
            </div>
            <div class="address">
                <div class="col">
                    <h1>Contact Information</h1>
                    <ul>
                        <li>
                            <a href="tel: +998997777777"> +99899-777-77-77</a>
                        </li>
                        <li>
                            <a href="tel: +998950210022">+99895-021-00-22</a>
                        </li>
                        <li>
                            <a href="mailto:t.nuriddinov@university.pdp.uz">pdpgmail.com</a>
                        </li>
                        <li>
                            <a>Sergeli, Tashkent, Uzbekistan</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    

    <script src='js/bootstrap.js'></script>
    <script src="js/bootstrap.bundle.js"></script>
</body>

</html>