<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.css">
    <title>Thanks || PDP Fitness</title>
</head>
<body>
    <div class="container mt-4 p-5 bg-light text-dark rounded">
        <h1>Thank you for letting us know our problem!</h1>
        <h3>We will fix that problem soon!</h3>
        <a class="btn btn-success" href="base.html">Continue journey</a>
    </div>
</body>
</html>