<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/trainers.css">
    <link rel="stylesheet" href="../styles/about.css">
    <title>Trainers || PDP Fitness</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand text-wrap brand-name" href="../index.html">PDP Fitness</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="base.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="trainers.html" class="nav-link active" aria-current="page">Trainers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cources.html">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registration.html">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    
    <div class="container container1">
        <h1 align="center">Trainers Section</h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Dwayne Johnson
                    </button>
                </h3>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <img src="../images/trainers/rock.jpg" width="8%" alt="Rock Image" class="rck-img">
                        Dwayne Douglas Johnson (birth May 2, 1972, Hayward, USA) is an American film actor, businessman,
                        musician, singer, in the past - a wrestler. Known under the pseudonym The Rock. Considered one
                        of the greatest wrestlers of all time. He competed in WWE for eight years before starting his
                        acting career. He is a 10-time world champion as well as a two-time WWF Intercontinental
                        Champion, a five-time Tag Team Champion, the 2000 Royal Rumble winner, and a sixth Triple Crown
                        champion. <a class="btn btn-primary" href="https://en.wikipedia.org/wiki/Dwayne_Johnson">Read
                            More</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Khabib Nurmagomedov
                    </button>
                </h3>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <img src="../images/trainers/khabib.jpg" alt="Khabib Image" class="khb-img">
                        Khabib Abdulmanapovich Nurmagomedov (Gaabdulmanapil Khabib Nurmukhaamadov; born September 20,
                        1988, Sildi, Dagistan ASSR ) is an undefeated Russian mixed martial arts fighter who competed
                        under the auspices of the UFC. Former UFC Lightweight Champion. At the professional level, he
                        had 29 fights and did not suffer a single defeat. When a personal trainer watches a client
                        squat, it's usually from one angle, focusing on one aspect of the movement.
                        <a href="https://en.wikipedia.org/wiki/Khabib_Nurmagomedov" class="btn btn-primary">Read
                            More</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        David Goggins
                    </button>
                </h3>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <img class="gogs-img" src="../images/trainers/googins.jpg" alt="Goggins Image">
                        Goggins attempted to enter the Badwater Ultramarathon as a fundraiser but was told by organizers
                        that he needed to enter another ultramarathon first, as the Badwater is an invitational event.
                        In 2005, Goggins entered the San Diego One Day, a 24-hour ultramarathon held at Hospitality
                        Point in San Diego. He was able to run 101 miles in 18 hours and 56 minutes. He completed the
                        Las Vegas Marathon in a time that qualified him for the Boston Marathon. In 2006, Goggins
                        entered the Hurt-100 in Hawaii. Goggins was invited to the 2006 Badwater-135, where he
                        finished 5th overall. In 2008 he was named a "Hero of Running" by Runner's World. In 2016,
                        Goggins won the Infinitus 88k in 12 hours, almost twenty minutes ahead of the next finisher. In
                        the same year, he also won the Music City Ultra 50k, and Strolling Jim 40 Miler. In 2020,
                        Goggins ran the Moab 240 ultramarathon, placing 2nd in the 241 mile event with a time of 63
                        hours and 21 minutes, approximately 95 minutes behind race winner Michele Graglia. <a
                            href="https://en.wikipedia.org/wiki/David_Goggins" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        Andrew Tate
                    </button>
                </h3>
                <div id="flush-collapseFour" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <img src="../images/trainers/tate.jpg" class="tate-img" alt="Tate Image">
                        Emory Andrew Tate III (born December 1, 1986) is a British-American social media personality,
                        businessman, and former professional kickboxer.

                        Tate began practicing kickboxing in 2005 and gained his first championship in 2009. He attracted
                        wider attention in 2016, when he appeared on the British reality show Big Brother and was
                        removed after his comments on social media attracted controversy. He began offering paid courses
                        and memberships through his website and rose to fame as an internet celebrity, promoting an
                        "ultra-masculine, ultra-luxurious lifestyle". A self-described misogynist, Tate's
                        controversial commentary has resulted in his suspension from several social media platforms such
                        as Twitter and Instagram, where he had amassed millions of followers.

                        On December 29, 2022, Andrew and his brother Tristan were arrested in Romania along with two
                        women; all four are suspected of human trafficking and forming an organized crime group.
                        Romanian police allege that the group coerced victims into creating paid pornography for social
                        media. On March 31, all four were moved to house arrest while the investigation continues. No
                        indictment has yet been filed, and prosecutors have said that they have until late June to send
                        the case to trial. <a href="https://en.wikipedia.org/wiki/Andrew_Tate"
                            class="btn btn-primary">Read More</a>
                    </div>

                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        Usain Bolt
                    </button>
                </h3>
                <div id="flush-collapseFive" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <img src="../images/trainers/usain.jpg" class="usain-img" alt="Usain Image">
                        Usain St. Leo Bolt OJ CD OLY (born 21 August 1986) is a Jamaican retired
                        sprinter, widely considered to be the greatest sprinter of all time. He is the world
                        record holder in the 100 metres, 200 metres, and 4 x 100 metres relay.

                        An eight-time Olympic gold medallist, Bolt is the only sprinter to win Olympic 100 m and 200 m
                        titles at three consecutive Olympics (2008, 2012, and 2016). He also won two 4 x 100 relay gold
                        medals. He gained worldwide fame for his double sprint victory in world record times at the 2008
                        Beijing Olympics, which made him the first person to hold both records since fully automatic
                        time became mandatory.

                        An eleven-time World Champion, he won consecutive World Championship 100 m, 200 m and 4 x 100
                        metres relay gold medals from 2009 to 2015, with the exception of a 100 m false start in 2011.
                        He is the most successful male athlete of the World Championships. Bolt is the first athlete to
                        win four World Championship titles in the 200 m and is one of the most successful in the 100 m
                        with three titles. <a href="https://en.wikipedia.org/wiki/Usain_Bolt"
                            class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="purchase container">
    <h2>
        Make one of them your personal trainer without coming to our place
        <h2>
            <a class="btn btn-warning" href="cources.html">Personal Trainer</a>
        </h2>
    </h2>
</div>
<div class="purchasing container">

    <div align="right" class="shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-left: 75%">
        <table>
            <tr>
                <th>Any Bugs: </th>
                <td><a href="feedback.html">Let us now!</a></td>
            </tr>
            <tr>
                <th>Any problems with website: </th>
                <td><a href="feedback.html">Report</a></td>
            </tr>
        </table>
    </div>
</div>


<footer class="footer ">
    <div class="container">

        <div class="col">
            <h1>Links</h1>
            <ul>
                <li>
                    <a href="../index.html">Welcome</a>
                </li>
                <li>
                    <a href="base.html">Home</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="cources.html">Courses</a>
                </li>
                <li>
                    <a href="#">Trainers</a>
                </li>
                <li>
                    <a href="registration.html">Log In</a>
                </li>
            </ul>
        </div>
        <div class="address">
            <div class="col">
                <h1>Contact Information</h1>
                <ul>
                    <li>
                        <a href="tel: +998997777777"> +99899-777-77-77</a>
                    </li>
                    <li>
                        <a href="tel: +998950210022">+99895-021-00-22</a>
                    </li>
                    <li>
                        <a href="mailto:t.nuriddinov@university.pdp.uz">pdpgmail.com</a>
                    </li>
                    <li>
                        <a>Sergeli, Tashkent, Uzbekistan</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

    <script src="../js/bootstrap.js"></script>
</body>

</html>